virtual/
*.pyc
start.sh

    def test_user_post_count(self):
        """
        This will test whether the post_count function returns the number of posts by a user
        """
        new_post = Post(title = "T", user = self.new_user)
        new_post2 = Post(title = "T")
        db.session.add_all(new_post,new_post2)
        self.assertTrue(self.new_user.get_user_post_count() == 1)
            def test_get_user_posts(self):
        """
        This will test whether the get_user_posts return only the posts by the user
        """
        new_post = Post(title = "T", user = self.new_user)
        db.session.add(new_post)
        db.session.commit()
        posts = self.new_user.get_user_posts()
        test_post_title = None
        for post in posts:
            test_post_title = post.title
        self.assertTrue(test_post_title == "T")